@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    .nav-options {
        /* width: 30%; */
        flex-direction: column;

    }

    .opt {
        margin-top: 10px;
    }

    .btn-follow {
        margin-top: 10px;
    }

    .banner-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-img img {
        width: 80%;
        margin-left: 40px;
    }

    .banner-content-text {
        margin-left: 40px;
        margin-top: 80px;
    }

    .banner-two {
        flex-direction: column;
        align-items: center;
    }

    .banner-two-img img {
        width: 100%;
    }

    .banner-two-content {
        text-align: center;

    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card p {
        text-align: center;
    }

    .play-instantly {
        flex-direction: column;


    }

    .play-content {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .horse-img {
        width: 70%;
        margin-left: 100px;
    }

    .cat-image {
        width: 35%;
        bottom: 130px;
        left: 30px;
    }

    .online-game {
        flex-direction: column-reverse;
    }

    .woman-image {
        width: 70%;
        margin-left: 40px;
    }

    .girl-image {
        width: 35%;
        bottom: 110px;
        left: 245px;
    }

    .online-text-content {
        text-align: center;
    }


    .type-of-game {
        margin-bottom: 20px;
        justify-content: center;
        margin-bottom: 20px;
    }
    .type-of-games {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
    }
    .type-of-game img {
        width: 20%;
        padding-left: 2px;
    }

    .type-of-game h5 {
        margin-left: 5px;
        font-size: 8px;
        font-weight: 500;
        padding-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 3px;
    }

    .type-of-game:hover {
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        border-radius: 28px;
    }

    /* ------------------------------------------------------ */
    .footer {
        max-width: 100%;
        margin: auto;

    }

    .img-logo img {
        object-fit: cover;
        height: 20px
    }

    .footer-title {
        margin-left: 20px;
        font-size: 25px;
        font-weight: 700;
        color: white;
    }

    .footer-options {
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .footer-options p {
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .conditions {
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .conditions p {
        margin-top: 5px;
        margin-bottom: 0px;

    }

    .footer-last-line {
        margin-top: 20px;
    }

    .footer-icons {
        margin-bottom: 10px;

    }

    /* ------------------------------------------ */


    .extra-section {
        margin-bottom: 100px;
    }

    .extra {
        flex-direction: column;
        align-items: center;
    }

    .extra-img-part img {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .extra-content {
        padding-right: 40px;
        padding-left: 40px;
        margin-left: 0px;
    }
}