@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    .nav-options {
        /* width: 30%; */
        flex-direction: column;

    }

    .opt {
        margin-top: 10px;
    }

    .btn-follow {
        margin-top: 10px;
    }

    .banner-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-img img {
        width: 80%;
        margin-left: 40px;
    }

    .banner-content-text {
        margin-left: 40px;
        margin-top: 80px;
    }

    .banner-two {
        flex-direction: column;
        align-items: center;
    }

    .banner-two-img img {
        width: 100%;
    }

    .banner-two-content {
        text-align: center;

    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card p {
        text-align: center;
    }

    .play-instantly {
        flex-direction: column;


    }

    .play-content {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    } 

    .horse-img {
        width: 70%;
        margin-left:100px ;
    }

    .cat-image {
        width: 35%;
        bottom: 130px;
        left: 30px;
    }

    .online-game{
        flex-direction: column-reverse;
    }

    .woman-image{
        width: 70%;
        margin-left: 40px;
    }

    .girl-image{
        width: 35%;
        bottom: 110px;
        left: 245px;
    }

    .online-text-content{
        text-align: center;
    }
    

    .type-of-games{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .type-of-game img{
        width: 30%;
    }

    .type-of-game h5 {
        margin-left: 5px;
        padding-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .type-of-game:hover{
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        border-radius: 28px;
    }
    

}