@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inconsolata:wght@700&family=Merriweather&family=Montserrat&family=Open+Sans&family=Poppins:wght@400;500;600;700&family=Sacramento&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');



* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #FF42A5;
}

header,
main {
    max-width: 1400px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-title {
    margin-left: 20px;
    font-size: 45px;
    font-weight: 700;
}

.logo img {
    width: 86px;
    height: 40px;
    object-fit: cover;
}

.nav-options {
    /* width: 30%; */
    display: flex;
    align-items: center;

}

.opt {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    color: #3C354F;
}

.btn-follow {
    display: flex;
    align-items: center;
    background-color: #0B022310;
    padding: 10px 10px;
    border-radius: 3px;
    margin-left: 10px;

}

.btn-follow a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}


/* banner start */

.banner-content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.banner-text {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.banner-title {
    font-size: 95px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-sign-in {
    padding: 21px 40px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 46px;
}

.btn-go-rogue {
    padding: 21px 40px;
    background-color: #4EC5F7;
    color: white;
    border: none;
    border-radius: 46px;
}


/* banner-two start */


.banner-two-section {
    margin-top: 60px;
}

.banner-two {
    display: flex;
}


.banner-two-content {
    text-align: right;
    margin-top: 50px;
}

.banner-two-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gammer-text {
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}

.btn-know-more {
    padding: 21px 40px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 46px;
}

.purpose {
    font-size: 18px;

}

.tag-line {
    font-size: 20px;
    font-weight: 700;
}




/* card section */
.card-section-title {
    text-align: center;
}

.card-heading {
    font-size: 48px;
    font-weight: 700;
}

.funny-part {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-heading-text {
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card p {
    color: #534C64;
}

/* play button hover */

.image-container {
    position: relative;
    overflow: hidden;

}
.play-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    border-radius: 15px;
    border: 3px solid #FF42A5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover .play-button {
    transform: scale(1.2);
}


.play-instantly {
    display: flex;
    justify-content: space-around;
    margin-top: 100px
}

.play-content {
    text-align: right;
    margin-top: 200px;
}


.play-text-colored {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}

.play-text {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.play-para {
    color: #534C64;
}

.cat-image {
    position: relative;
    bottom: 290px;
    left: -150px;


}


/* -------------------------------------- */

.online-game {
    display: flex;
    justify-content: space-around;
}

.girl-image {
    position: relative;
    bottom: 250px;
    right: -530px;

}

.online-color-text {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}

.online-text-content p {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.online-text-content h6 {
    color: #534C64;
}



/* ------------------------------------- */

.type-of-games {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.type-of-game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.type-of-game img {
    padding-left: 10px;
}

.type-of-game h5 {
    margin-left: 10px;
    padding-right: 10px;

}

.type-of-game:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 38px;
}

/* -------------------------------------------------------- */
footer {
    background-color: black;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.img-logo img {
    object-fit: cover;
}

.footer-title {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-options p {
    margin-left: 40px;
    color: white;
    font-size: 18px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    color: white;
    margin-left: 30px;

}

.conditions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conditions p {
    color: rgba(255, 255, 255, 0.60);
    margin-left: 20px;
    font-size: 16px;
}

.footer-last-line {
    color: rgba(255, 255, 255, 0.60);
    margin-left: 20px;
    font-size: 16px;
    margin-top: 0px;
    padding-bottom: 100px;
}


/* extra sections */
.extra-section {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
   
}

.extra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-content {
    padding-left: 100px;
}


.extra p {
    color: white;
}

.extra-title {
    font-size: 48px;
    font-weight: 700;
}

.extra-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-img-part img {
    width: 800px;
}

.btn-extra {
    border-radius: 38px;
    padding: 10px 15px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}